.bg-blue-100 { background-color: var(--blue-100); }
.bg-blue-200 { background-color: var(--blue-200); }
.bg-blue-300 { background-color: var(--blue-300); }
.bg-blue-400 { background-color: var(--blue-400); }
.bg-blue-500 { background-color: var(--blue-500); }
.bg-blue-600 { background-color: var(--blue-600); }
.bg-blue-700 { background-color: var(--blue-700); }
.bg-blue-800 { background-color: var(--blue-800); }
.bg-blue-900 { background-color: var(--blue-900); }
.bg-blue-1000 { background-color: var(--blue-1000); }

.hover\:bg-blue-100:hover { background-color: var(--blue-100); }
.hover\:bg-blue-200:hover { background-color: var(--blue-200); }
.hover\:bg-blue-300:hover { background-color: var(--blue-300); }
.hover\:bg-blue-400:hover { background-color: var(--blue-400); }
.hover\:bg-blue-500:hover { background-color: var(--blue-500); }
.hover\:bg-blue-600:hover { background-color: var(--blue-600); }
.hover\:bg-blue-700:hover { background-color: var(--blue-700); }
.hover\:bg-blue-800:hover { background-color: var(--blue-800); }
.hover\:bg-blue-900:hover { background-color: var(--blue-900); }
.hover\:bg-blue-1000:hover { background-color: var(--blue-1000); }

.bg-red-100 { background-color: var(--red-100); }
.bg-red-200 { background-color: var(--red-200); }
.bg-red-300 { background-color: var(--red-300); }
.bg-red-400 { background-color: var(--red-400); }
.bg-red-500 { background-color: var(--red-500); }
.bg-red-600 { background-color: var(--red-600); }
.bg-red-700 { background-color: var(--red-700); }
.bg-red-800 { background-color: var(--red-800); }
.bg-red-900 { background-color: var(--red-900); }
.bg-red-1000 { background-color: var(--red-1000); }

.hover\:bg-red-100:hover { background-color: var(--red-100); }
.hover\:bg-red-200:hover { background-color: var(--red-200); }
.hover\:bg-red-300:hover { background-color: var(--red-300); }
.hover\:bg-red-400:hover { background-color: var(--red-400); }
.hover\:bg-red-500:hover { background-color: var(--red-500); }
.hover\:bg-red-600:hover { background-color: var(--red-600); }
.hover\:bg-red-700:hover { background-color: var(--red-700); }
.hover\:bg-red-800:hover { background-color: var(--red-800); }
.hover\:bg-red-900:hover { background-color: var(--red-900); }
.hover\:bg-red-1000:hover { background-color: var(--red-1000); }

.bg-green-100 { background-color: var(--green-100); }
.bg-green-200 { background-color: var(--green-200); }
.bg-green-300 { background-color: var(--green-300); }
.bg-green-400 { background-color: var(--green-400); }
.bg-green-500 { background-color: var(--green-500); }
.bg-green-600 { background-color: var(--green-600); }
.bg-green-700 { background-color: var(--green-700); }
.bg-green-800 { background-color: var(--green-800); }
.bg-green-900 { background-color: var(--green-900); }
.bg-green-1000 { background-color: var(--green-1000); }

.hover\:bg-green-100:hover { background-color: var(--green-100); }
.hover\:bg-green-200:hover { background-color: var(--green-200); }
.hover\:bg-green-300:hover { background-color: var(--green-300); }
.hover\:bg-green-400:hover { background-color: var(--green-400); }
.hover\:bg-green-500:hover { background-color: var(--green-500); }
.hover\:bg-green-600:hover { background-color: var(--green-600); }
.hover\:bg-green-700:hover { background-color: var(--green-700); }
.hover\:bg-green-800:hover { background-color: var(--green-800); }
.hover\:bg-green-900:hover { background-color: var(--green-900); }
.hover\:bg-green-1000:hover { background-color: var(--green-1000); }

.bg-orange-100 { background-color: var(--orange-100); }
.bg-orange-200 { background-color: var(--orange-200); }
.bg-orange-300 { background-color: var(--orange-300); }
.bg-orange-400 { background-color: var(--orange-400); }
.bg-orange-500 { background-color: var(--orange-500); }
.bg-orange-600 { background-color: var(--orange-600); }
.bg-orange-700 { background-color: var(--orange-700); }
.bg-orange-800 { background-color: var(--orange-800); }
.bg-orange-900 { background-color: var(--orange-900); }
.bg-orange-1000 { background-color: var(--orange-1000); }

.hover\:bg-orange-100:hover { background-color: var(--orange-100); }
.hover\:bg-orange-200:hover { background-color: var(--orange-200); }
.hover\:bg-orange-300:hover { background-color: var(--orange-300); }
.hover\:bg-orange-400:hover { background-color: var(--orange-400); }
.hover\:bg-orange-500:hover { background-color: var(--orange-500); }
.hover\:bg-orange-600:hover { background-color: var(--orange-600); }
.hover\:bg-orange-700:hover { background-color: var(--orange-700); }
.hover\:bg-orange-800:hover { background-color: var(--orange-800); }
.hover\:bg-orange-900:hover { background-color: var(--orange-900); }
.hover\:bg-orange-1000:hover { background-color: var(--orange-1000); }

.bg-pink-100 { background-color: var(--pink-100); }
.bg-pink-200 { background-color: var(--pink-200); }
.bg-pink-300 { background-color: var(--pink-300); }
.bg-pink-400 { background-color: var(--pink-400); }
.bg-pink-500 { background-color: var(--pink-500); }
.bg-pink-600 { background-color: var(--pink-600); }
.bg-pink-700 { background-color: var(--pink-700); }
.bg-pink-800 { background-color: var(--pink-800); }
.bg-pink-900 { background-color: var(--pink-900); }
.bg-pink-1000 { background-color: var(--pink-1000); }

.hover\:bg-pink-100:hover { background-color: var(--pink-100); }
.hover\:bg-pink-200:hover { background-color: var(--pink-200); }
.hover\:bg-pink-300:hover { background-color: var(--pink-300); }
.hover\:bg-pink-400:hover { background-color: var(--pink-400); }
.hover\:bg-pink-500:hover { background-color: var(--pink-500); }
.hover\:bg-pink-600:hover { background-color: var(--pink-600); }
.hover\:bg-pink-700:hover { background-color: var(--pink-700); }
.hover\:bg-pink-800:hover { background-color: var(--pink-800); }
.hover\:bg-pink-900:hover { background-color: var(--pink-900); }
.hover\:bg-pink-1000:hover { background-color: var(--pink-1000); }

.bg-gray-100 { background-color: var(--gray-100); }
.bg-gray-200 { background-color: var(--gray-200); }
.bg-gray-300 { background-color: var(--gray-300); }
.bg-gray-400 { background-color: var(--gray-400); }
.bg-gray-500 { background-color: var(--gray-500); }
.bg-gray-600 { background-color: var(--gray-600); }
.bg-gray-700 { background-color: var(--gray-700); }
.bg-gray-800 { background-color: var(--gray-800); }
.bg-gray-900 { background-color: var(--gray-900); }
.bg-gray-1000 { background-color: var(--gray-1000); }

.hover\:bg-gray-100:hover { background-color: var(--gray-100); }
.hover\:bg-gray-200:hover { background-color: var(--gray-200); }
.hover\:bg-gray-300:hover { background-color: var(--gray-300); }
.hover\:bg-gray-400:hover { background-color: var(--gray-400); }
.hover\:bg-gray-500:hover { background-color: var(--gray-500); }
.hover\:bg-gray-600:hover { background-color: var(--gray-600); }
.hover\:bg-gray-700:hover { background-color: var(--gray-700); }
.hover\:bg-gray-800:hover { background-color: var(--gray-800); }
.hover\:bg-gray-900:hover { background-color: var(--gray-900); }
.hover\:bg-gray-1000:hover { background-color: var(--gray-1000); }

.bg-yellow-100 { background-color: var(--yellow-100); }
.bg-yellow-200 { background-color: var(--yellow-200); }
.bg-yellow-300 { background-color: var(--yellow-300); }
.bg-yellow-400 { background-color: var(--yellow-400); }
.bg-yellow-500 { background-color: var(--yellow-500); }
.bg-yellow-600 { background-color: var(--yellow-600); }
.bg-yellow-700 { background-color: var(--yellow-700); }
.bg-yellow-800 { background-color: var(--yellow-800); }
.bg-yellow-900 { background-color: var(--yellow-900); }
.bg-yellow-1000 { background-color: var(--yellow-1000); }

.hover\:bg-yellow-100:hover { background-color: var(--yellow-100); }
.hover\:bg-yellow-200:hover { background-color: var(--yellow-200); }
.hover\:bg-yellow-300:hover { background-color: var(--yellow-300); }
.hover\:bg-yellow-400:hover { background-color: var(--yellow-400); }
.hover\:bg-yellow-500:hover { background-color: var(--yellow-500); }
.hover\:bg-yellow-600:hover { background-color: var(--yellow-600); }
.hover\:bg-yellow-700:hover { background-color: var(--yellow-700); }
.hover\:bg-yellow-800:hover { background-color: var(--yellow-800); }
.hover\:bg-yellow-900:hover { background-color: var(--yellow-900); }
.hover\:bg-yellow-1000:hover { background-color: var(--yellow-1000); }

.bg-purple-100 { background-color: var(--purple-100); }
.bg-purple-200 { background-color: var(--purple-200); }
.bg-purple-300 { background-color: var(--purple-300); }
.bg-purple-400 { background-color: var(--purple-400); }
.bg-purple-500 { background-color: var(--purple-500); }
.bg-purple-600 { background-color: var(--purple-600); }
.bg-purple-700 { background-color: var(--purple-700); }
.bg-purple-800 { background-color: var(--purple-800); }
.bg-purple-900 { background-color: var(--purple-900); }
.bg-purple-1000 { background-color: var(--purple-1000); }

.hover\:bg-purple-100:hover { background-color: var(--purple-100); }
.hover\:bg-purple-200:hover { background-color: var(--purple-200); }
.hover\:bg-purple-300:hover { background-color: var(--purple-300); }
.hover\:bg-purple-400:hover { background-color: var(--purple-400); }
.hover\:bg-purple-500:hover { background-color: var(--purple-500); }
.hover\:bg-purple-600:hover { background-color: var(--purple-600); }
.hover\:bg-purple-700:hover { background-color: var(--purple-700); }
.hover\:bg-purple-800:hover { background-color: var(--purple-800); }
.hover\:bg-purple-900:hover { background-color: var(--purple-900); }
.hover\:bg-purple-1000:hover { background-color: var(--purple-1000); }

.bg-white-100 { background-color: var(--white-100); }
.bg-white-200 { background-color: var(--white-200); }
.bg-white-300 { background-color: var(--white-300); }
.bg-white-400 { background-color: var(--white-400); }
.bg-white-500 { background-color: var(--white-500); }
.bg-white-600 { background-color: var(--white-600); }
.bg-white-700 { background-color: var(--white-700); }
.bg-white-800 { background-color: var(--white-800); }
.bg-white-900 { background-color: var(--white-900); }
.bg-white-1000 { background-color: var(--white-1000); }

.hover\:bg-white-100:hover { background-color: var(--white-100); }
.hover\:bg-white-200:hover { background-color: var(--white-200); }
.hover\:bg-white-300:hover { background-color: var(--white-300); }
.hover\:bg-white-400:hover { background-color: var(--white-400); }
.hover\:bg-white-500:hover { background-color: var(--white-500); }
.hover\:bg-white-600:hover { background-color: var(--white-600); }
.hover\:bg-white-700:hover { background-color: var(--white-700); }
.hover\:bg-white-800:hover { background-color: var(--white-800); }
.hover\:bg-white-900:hover { background-color: var(--white-900); }
.hover\:bg-white-1000:hover { background-color: var(--white-1000); }

.bg-brown-100 { background-color: var(--brown-100); }
.bg-brown-200 { background-color: var(--brown-200); }
.bg-brown-300 { background-color: var(--brown-300); }
.bg-brown-400 { background-color: var(--brown-400); }
.bg-brown-500 { background-color: var(--brown-500); }
.bg-brown-600 { background-color: var(--brown-600); }
.bg-brown-700 { background-color: var(--brown-700); }
.bg-brown-800 { background-color: var(--brown-800); }
.bg-brown-900 { background-color: var(--brown-900); }
.bg-brown-1000 { background-color: var(--brown-1000); }

.hover\:bg-brown-100:hover { background-color: var(--brown-100); }
.hover\:bg-brown-200:hover { background-color: var(--brown-200); }
.hover\:bg-brown-300:hover { background-color: var(--brown-300); }
.hover\:bg-brown-400:hover { background-color: var(--brown-400); }
.hover\:bg-brown-500:hover { background-color: var(--brown-500); }
.hover\:bg-brown-600:hover { background-color: var(--brown-600); }
.hover\:bg-brown-700:hover { background-color: var(--brown-700); }
.hover\:bg-brown-800:hover { background-color: var(--brown-800); }
.hover\:bg-brown-900:hover { background-color: var(--brown-900); }
.hover\:bg-brown-1000:hover { background-color: var(--brown-1000); }

.bg-white { background-color: var(--white-color); }
.bg-orange { background-color: var(--orange-color); }
.bg-blue-light { background-color: var(--blue-light-color); }
.bg-brown { background-color: var(--brown-color); }
.bg-yellow { background-color: var(--yellow-color); }
.bg-blue-dark { background-color: var(--blue-dark-color); }
.bg-green-light { background-color: var(--green-light-color); }
.bg-orange-light { background-color: var(--orange-light-color); }
.bg-green-dark { background-color: var(--green-dark-color); }
.bg-purple { background-color: var(--purple-color); }
.bg-pink-dark { background-color: var(--pink-dark-color); }

.bg-marigold { background-color: var(--marigold-color); }
.bg-cerulean { background-color: var(--cerulean-color); }
.bg-rust { background-color: var(--rust-color); }
.bg-illuminating { background-color: var(--illuminating-color); }
.bg-french-blue { background-color: var(--french-blue-color); }
.bg-green-ash { background-color: var(--green-ash-color); }
.bg-burnt-coral { background-color: var(--burnt-coral-color); }
.bg-mint { background-color: var(--mint-color); }
.bg-amethyst-orchid { background-color: var(--amethyst-orchid-color); }
.bg-raspberry-sorbet { background-color: var(--raspberry-sorbet-color); }

.bg-flame-scarlet { background-color: var(--flame-scarlet-color); }
.bg-saffron { background-color: var(--saffron-color); }
.bg-biscay-green { background-color: var(--biscay-green-color); }
.bg-chive { background-color: var(--chive-color); }
.bg-faded-denim { background-color: var(--faded-denim-color); }
.bg-orange-peel { background-color: var(--orange-peel-color); }
.bg-mosaic-blue { background-color: var(--mosaic-blue-color); }
.bg-sunlight { background-color: var(--sunlight-color); }
.bg-coral-pink { background-color: var(--coral-pink-color); }
.bg-cinnamon-stick { background-color: var(--cinnamon-stick-color); }
.bg-grape-compote { background-color: var(--grape-compote-color); }
.bg-lark { background-color: var(--lark-color); }
.bg-navy-blazer { background-color: var(--navy-blazer-color); }
.bg-brilliant-white { background-color: var(--brilliant-white-color); }
.bg-ash { background-color: var(--ash-color); }

.bg-fiesta { background-color: var(--fiesta-color); }
.bg-jester-red { background-color: var(--jester-red-color); }
.bg-turmeric { background-color: var(--turmeric-color); }
.bg-living-coral { background-color: var(--living-coral-color); }
.bg-pink-peacock { background-color: var(--pink-peacock-color); }
.bg-pepper-stem { background-color: var(--pepper-stem-color); }
.bg-aspen-gold { background-color: var(--aspen-gold-color); }
.bg-princess-blue { background-color: var(--princess-blue-color); }
.bg-toffee { background-color: var(--toffee-color); }
.bg-mango-mojito { background-color: var(--mango-mojito-color); }
.bg-terrarium-moss { background-color: var(--terrarium-moss-color); }
.bg-sweet-lilac { background-color: var(--sweet-lilac-color); }
.bg-soybean { background-color: var(--soybean-color); }
.bg-eclipse { background-color: var(--eclipse-color); }
.bg-sweet-corn { background-color: var(--sweet-corn-color); }

.bg-light { background-color: var(--light-color) !important; }
.bg-dark { background-color: var(--dark-color) !important; }
.bg-error { background-color: var(--error-color) !important; }
.bg-warning { background-color: var(--warning-color) !important; }
.bg-success { background-color: var(--success-color) !important; }
.bg-notice { background-color: var(--notice-color) !important; }
.bg-debug { background-color: var(--debug-color) !important; }

.bg-overconsulting { background-color: var(--overconsulting-blue-color) !important; }