.btn, .btn:link, .btn:active, .btn:hover, .btn:visited, .btn:focus {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
}

.btn:hover {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.btn-rounded, .btn-rounded:hover {
    border-radius: 5px !important;
}

.btn.btn-light {
    background: var(--light-color);
    color: var(--dark-color)
}

.btn.btn-light:hover {
    background-color: var(--light-hover-color);
}

.btn.btn-dark {
    background: var(--dark-color);
    color: var(--light-color)
}

.btn.btn-dark:hover {
    background-color: var(--dark-hover-color);
}

.btn.btn-success {
    background: var(--success-color);
    color: var(--light-color)
}

.btn.btn-success:hover {
    background-color: var(--success-hover-color);
}

.btn.btn-error {
    background: var(--error-color);
    color: var(--light-color)
}

.btn.btn-error:hover {
    background-color: var(--error-hover-color);
}

.btn.btn-warning {
    background: var(--warning-color);
    color: var(--light-color)
}

.btn.btn-warning:hover {
    background-color: var(--warning-hover-color);
}

.btn.btn-notice {
    background: var(--notice-color);
    color: var(--light-color)
}

.btn.btn-notice:hover {
    background-color: var(--notice-hover-color);
}

.btn.btn-debug {
    background: var(--debug-color);
    color: var(--light-color)
}

.btn.btn-debug:hover {
    background-color: var(--debug-hover-color);
}

.btn.btn-overconsulting {
    background: var(--overconsulting-blue-color);
    color: var(--light-color)
}
