.form-group {
    margin: 20px auto;
    display: block;
    width: 100%;
}

.form-label {
    margin-bottom: .5rem;
    display: block;
    width: 100%;
}

.form-input-group {
    position: relative;
}

.form-input-group small {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY('-50%');
    cursor: pointer;
    opacity: 0.5;
}

.form-input, .form-textarea {
    display: block;
    padding: .5rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    border: 1px solid var(--white-500);
    border-radius: 0.25rem;
}

.form-input:active, .form-input:focus {
    outline: none;
}

.form-select {
    display: block;
    width: 100%;
    padding: .5rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    border: 1px solid var(--white-500);
    border-radius: 0.25rem;
}

.form-bordered .form-input, .form-bordered .form-textarea, .form-bordered .form-select {
    border: 1px solid var(--white-500) !important;
    border-radius: 0.25rem !important;
}

.form-bordered .form-group-error .form-input, .form-bordered .form-group-error .form-textarea, .form-bordered .form-group-error .form-select {
    color: var(--error-color);
    border: 1px solid var(--error-color) !important;
}

.form-bordered .form-group-error .form-input[disabled], .form-bordered .form-group-error .form-textarea[disabled], .form-bordered .form-group-error .form-select[disabled] {
    color: var(--error-color) !important;
    border: 1px solid var(--error-color) !important;
    border-radius: 0.25rem !important;
}

.form-no-bordered .form-input, .form-no-bordered .form-textarea, .form-no-bordered .form-select {
    border: none !important;
    border-bottom: 1px solid var(--white-900) !important;
}

.form-no-bordered .form-group-error .form-input, .form-no-bordered .form-group-error .form-textarea, .form-no-bordered .form-group-error .form-select {
    color: var(--error-color);
    border-bottom: 1px solid var(--error-color) !important;
}

.form-no-bordered .form-group-error .form-input[disabled], .form-no-bordered .form-group-error .form-textarea[disabled], .form-no-bordered .form-group-error .form-select[disabled] {
    color: var(--error-disabled-color);
    border-bottom: 1px solid var(--error-disabled-color) !important;
}

.form-group-error .form-label {
    color: var(--error-color) !important;
}

.form-group-error .form-message {
    color: var(--error-color) !important;
    font-size: 1rem;
    font-style: italic;
    margin-top: 5px;
}

.form-message {
    color: var(--white-900);
    font-size: 1rem;
    font-style: italic;
    margin-top: 5px;
}