.img-fluid {
    width: 100%;
}

.img-thumbnails {
    width: 100%;
    padding: 3px;
    border-radius: .4rem;
    border: 1px solid var(--white-400);
}

.img-rounded {
    border-radius: 50%;
    width: 100%;
}