.menu {
    display: block;
    width: 100%;
}

.menu-titre {
    text-align: left;
    padding: 1rem;
}

.menu-item {
    display: block;
    width: 100%;
}

.menu-link {
    display: block;
    width: 100%;
    padding: 1rem;
}

