/* NavBar */
.navbar {
    display: flex;
    align-items: center;
    width: 100;
    justify-content: center;
}

.navbar.navbar-fixed-top {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar.navbar-bordered {border: #c0C0C0 1px solid;}
.navbar.navbar-bordered-t {border-top: #c0C0C0 1px solid;}
.navbar.navbar-bordered-l {border-left: #c0C0C0 1px solid;}
.navbar.navbar-bordered-b {border-bottom: #c0C0C0 1px solid;}
.navbar.navbar-bordered-r {border-right: #c0C0C0 1px solid;}

.navbar.navbar-h {
    flex-direction: column;
}

.navbar.navbar-v {
    flex-direction: row;
}

.navbar .navbar-title {
    border: none;
    white-space: nowrap;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.navbar .navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
}

.navbar .navbar-container-fluid {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
}

.navbar .navbar-title > div {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 1rem;
}

.navbar .navbar-title .navbar-link {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.navbar .navbar-menu-left {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
}

.navbar .navbar-menu-right {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    margin-left: auto;
}

.navbar .navbar-menu-icon {
    display: none;
    cursor: pointer;
}

.navbar.navbar-h .navbar-menu {
    flex-direction: column;
}

.navbar.navbar-v .navbar-menu {
    flex-direction: row;
}

.navbar-content-menu {
    /*justify-content: space-between;*/
    display: flex;
    width: 100%;
}

.navbar .navbar-title .navbar-link {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
}

.navbar .navbar-item .navbar-link {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
}

.navbar-dark .navbar-menu-icon, .navbar-dark .navbar-title .navbar-link, .navbar-dark .navbar-item .navbar-link {
    color: var(--overconsulting-green-dark-color);
}

.navbar-light .navbar-menu-icon, .navbar-light .navbar-title .navbar-link, .navbar-light .navbar-item .navbar-link {
    color: var(--dark-color);
}

.navbar-link.active {
    font-weight: bolder;
}

.navbar.navbar-h .navbar-menu {
    width: 100%;
    display: block;
}

.navbar.navbar-h .navbar-menu .navbar-item .navbar-link {
    width: 100%;
    display: block;
    padding: 1rem;
    cursor: pointer;
    padding-left: 2rem;
}

.navbar .navbar-menu-right .navbar-ss-menu, .navbar .navbar-menu-left .navbar-ss-menu {
    display: none;
}

.navbar .dropdown:hover .navbar-ss-menu {
    display: block;
    position: absolute;
}

.navbar-link{
    text-decoration: none;
    color: var(--overconsulting-green-light-color);
    color: white;
  text-decoration: none;
}

.navbar-link.x:hover{
    color: var(--overconsulting-green-dark-color);
    background-color: var(--overconsulting-green-color);
}


