@media screen and (max-width: 1500px)
{
    /* Grid */
    .grid.grid-cols-7 {grid-template-columns: repeat(6, minmax(0, 1fr));}
    .grid.grid-cols-8 {grid-template-columns: repeat(6, minmax(0, 1fr));}
    .grid.grid-cols-9 {grid-template-columns: repeat(6, minmax(0, 1fr));}
    .grid.grid-cols-10 {grid-template-columns: repeat(6, minmax(0, 1fr));}
}

@media screen and (max-width: 1200px)
{
    /* Grid */
    .grid.grid-cols-5 {grid-template-columns: repeat(4, minmax(0, 1fr));}
    .grid.grid-cols-6 {grid-template-columns: repeat(4, minmax(0, 1fr));}
    .grid.grid-cols-7 {grid-template-columns: repeat(4, minmax(0, 1fr));}
    .grid.grid-cols-8 {grid-template-columns: repeat(4, minmax(0, 1fr));}
    .grid.grid-cols-9 {grid-template-columns: repeat(4, minmax(0, 1fr));}
    .grid.grid-cols-10 {grid-template-columns: repeat(4, minmax(0, 1fr));}
}

@media screen and (max-width: 900px)
{
    /* Grid */
    .grid.grid-cols-3 {grid-template-columns: repeat(2, minmax(0, 1fr));}
    .grid.grid-cols-4 {grid-template-columns: repeat(2, minmax(0, 1fr));}
    .grid.grid-cols-5 {grid-template-columns: repeat(2, minmax(0, 1fr));}
    .grid.grid-cols-6 {grid-template-columns: repeat(2, minmax(0, 1fr));}
    .grid.grid-cols-7 {grid-template-columns: repeat(2, minmax(0, 1fr));}
    .grid.grid-cols-8 {grid-template-columns: repeat(2, minmax(0, 1fr));}
    .grid.grid-cols-9 {grid-template-columns: repeat(2, minmax(0, 1fr));}
    .grid.grid-cols-10 {grid-template-columns: repeat(2, minmax(0, 1fr));}
}

@media screen and (max-width: 650px)
{
    /* Grid */
    .grid.grid-cols-2 {grid-template-columns: repeat(1, minmax(0, 1fr));}
    .grid.grid-cols-3 {grid-template-columns: repeat(1, minmax(0, 1fr));}
    .grid.grid-cols-4 {grid-template-columns: repeat(1, minmax(0, 1fr));}
    .grid.grid-cols-5 {grid-template-columns: repeat(1, minmax(0, 1fr));}
    .grid.grid-cols-6 {grid-template-columns: repeat(1, minmax(0, 1fr));}
    .grid.grid-cols-7 {grid-template-columns: repeat(1, minmax(0, 1fr));}
    .grid.grid-cols-8 {grid-template-columns: repeat(1, minmax(0, 1fr));}
    .grid.grid-cols-9 {grid-template-columns: repeat(1, minmax(0, 1fr));}
    .grid.grid-cols-10 {grid-template-columns: repeat(1, minmax(0, 1fr));}

    /* Container */
    .container {
        width: 85% !important;
    }

    /* Navbar */
    .navbar .navbar-menu-icon {
        display: block !important;
        padding-right: 1rem;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar .navbar-content-menu {
        display: none;
    }

    .navbar.responsive .navbar-content-menu {
        display: flex;
    }

    .navbar .navbar-content-menu, 
    .navbar .navbar-content-menu .navbar-item {
        width: 100%;
    }

    .navbar .navbar-menu-left, .navbar .navbar-menu-rightt{
        flex-direction: column;
    }

    .navbar .navbar-title, .navbar .navbar-ss-menu {
        width: 100%;
    }

    .navbar .dropdown:hover .navbar-ss-menu {
        display: block;
        position: relative;
    }
}


