@media screen and (max-width: 1500px)
{
    /* Grid */
    .grid.grid-cols-7 {grid-template-columns: repeat(6, minmax(0, 1fr));}
    .grid.grid-cols-8 {grid-template-columns: repeat(6, minmax(0, 1fr));}
    .grid.grid-cols-9 {grid-template-columns: repeat(6, minmax(0, 1fr));}
    .grid.grid-cols-10 {grid-template-columns: repeat(6, minmax(0, 1fr));}
}

@media screen and (max-width: 1200px)
{
    /* Grid */
    .grid.grid-cols-5 {grid-template-columns: repeat(4, minmax(0, 1fr));}
    .grid.grid-cols-6 {grid-template-columns: repeat(4, minmax(0, 1fr));}
    .grid.grid-cols-7 {grid-template-columns: repeat(4, minmax(0, 1fr));}
    .grid.grid-cols-8 {grid-template-columns: repeat(4, minmax(0, 1fr));}
    .grid.grid-cols-9 {grid-template-columns: repeat(4, minmax(0, 1fr));}
    .grid.grid-cols-10 {grid-template-columns: repeat(4, minmax(0, 1fr));}

    /* Aside */
    aside .navbar-title, .aside .navbar-title {
        font-size: 1.2rem !important;
    }
}

@media screen and (max-width: 900px)
{
    /* Grid */
    .grid.grid-cols-3 {grid-template-columns: repeat(2, minmax(0, 1fr));}
    .grid.grid-cols-4 {grid-template-columns: repeat(2, minmax(0, 1fr));}
    .grid.grid-cols-5 {grid-template-columns: repeat(2, minmax(0, 1fr));}
    .grid.grid-cols-6 {grid-template-columns: repeat(2, minmax(0, 1fr));}
    .grid.grid-cols-7 {grid-template-columns: repeat(2, minmax(0, 1fr));}
    .grid.grid-cols-8 {grid-template-columns: repeat(2, minmax(0, 1fr));}
    .grid.grid-cols-9 {grid-template-columns: repeat(2, minmax(0, 1fr));}
    .grid.grid-cols-10 {grid-template-columns: repeat(2, minmax(0, 1fr));}

    /* Structure */
    .row.row-quarter {
        flex-direction: column;
    }

    .row.row-quarter .col {
        width: 100% !important;
    }

    /* Aside */
    aside .navbar-title, .aside .navbar-title {
        font-size: 1rem !important;
    }

    /* Menu */
    .menu-titre, .menu-link {
        padding: .5rem !important;
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 650px)
{
    /* Grid */
    .grid.grid-cols-2 {grid-template-columns: repeat(1, minmax(0, 1fr));}
    .grid.grid-cols-3 {grid-template-columns: repeat(1, minmax(0, 1fr));}
    .grid.grid-cols-4 {grid-template-columns: repeat(1, minmax(0, 1fr));}
    .grid.grid-cols-5 {grid-template-columns: repeat(1, minmax(0, 1fr));}
    .grid.grid-cols-6 {grid-template-columns: repeat(1, minmax(0, 1fr));}
    .grid.grid-cols-7 {grid-template-columns: repeat(1, minmax(0, 1fr));}
    .grid.grid-cols-8 {grid-template-columns: repeat(1, minmax(0, 1fr));}
    .grid.grid-cols-9 {grid-template-columns: repeat(1, minmax(0, 1fr));}
    .grid.grid-cols-10 {grid-template-columns: repeat(1, minmax(0, 1fr));}

    /* flexbox */
    .flex {
        flex-direction: column;
    }

    /* Structure */
    .container {
        width: 85% !important;
    }

    .container-aside {
        width: 100% !important;
        margin: 0 !important;
        float: none !important;
    }

    aside, .aside { 
        width: 100% !important;
        float: none !important;
        min-height: auto !important;
        height: auto !important;
    }

    aside nav, .aside nav { 
        display: flex;
    }

    .row.row-half, .row.row-tiers, .row.row-quarter {
        flex-direction: column;
    }

    .row .col, .row.row-half .col.col-half, .row.row-tiers .col.col-tiers {
        width: 100% !important;
    }

    /* Navbar */
    .navbar .navbar-menu-icon {
        display: block !important;
        padding-right: 1rem;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar .navbar-content-menu {
        display: none;
    }

    .navbar.responsive .navbar-content-menu {
        display: flex;
        flex-direction: column;
    }

    .navbar .navbar-content-menu, 
    .navbar .navbar-content-menu .navbar-item {
        width: 100%;
    }

    .navbar .navbar-menu-left, .navbar .navbar-menu-right{
        flex-direction: column;
    }

    .navbar .navbar-menu-right{
        margin-left: 0;
    }

    .navbar .navbar-title, .navbar .navbar-ss-menu {
        width: 100%;
    }

    .navbar .dropdown:hover .navbar-ss-menu {
        display: block;
        position: relative;
    }

    .navbar .navbar-link {
        width: 100%;
    }
}


