/* Container */
.container {
    margin: auto;
    width: 80%;
}

.container-fluid {
    margin: auto;
    width: 100%;
}

/* if aside bar */
.container-aside {
    margin: 0 15%;
    width: 85%;
    float: left;
}

aside .navbar-title, .aside .navbar-title {
    text-align: center;
    padding: 1rem;
    display: block;
    width: 100%;
    font-size: 1.7rem;
}

aside, .aside {
    width: 15%;
    height: 100vh;
    min-height: 100vh;
    float: left;
}

.aside-fixed {
    position: fixed;
}

/* columns */
.row {
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;
}

.col {
    display: block;
}

.row.row-half .col {
    width: 48%;
}

.row.row-tiers .col {
    width: 33%;
}

.row.row-quarter .col {
    width: 24%;
}