.table {
    width: 100%;
}

.table>thead {
    vertical-align: bottom;
}

th {
    font-weight: bold;
}

.table-header-drak thead {
    background-color: var(--gray-1000);
    color: var(--white-200);
}

.table-header-drak.table-hover thead tr:hover {
    background-color: var(--gray-900);
    color: var(--white-200);
}

th, td, tr, thead, tbody {
    border-bottom: 1px solid var(--gray-200);
}

th, td {
    padding: 10px;
}

.table-sm th, .table-sm td {
    padding: 5px !important;
}

.table-hover tr:hover {
    background-color: var(--white-100);
}

.table-active {
    background-color: var(--white-100);
}

.table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid var(--gray-200);
}

/*.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: var(--bs-table-striped-color);*/