.txt-white-100 { color: var(--white-100) !important; }
.txt-white-200 { color: var(--white-200) !important; }
.txt-white-300 { color: var(--white-300) !important; }
.txt-white-400 { color: var(--white-400) !important; }
.txt-white-500 { color: var(--white-500) !important; }
.txt-white-600 { color: var(--white-600) !important; }
.txt-white-700 { color: var(--white-700) !important; }
.txt-white-800 { color: var(--white-800) !important; }
.txt-white-900 { color: var(--white-900) !important; }
.txt-white-1000 { color: var(--white-1000) !important; }

.txt-blue-100 { color: var(--blue-100) !important; }
.txt-blue-200 { color: var(--blue-200) !important; }
.txt-blue-300 { color: var(--blue-300) !important; }
.txt-blue-400 { color: var(--blue-400) !important; }
.txt-blue-500 { color: var(--blue-500) !important; }
.txt-blue-600 { color: var(--blue-600) !important; }
.txt-blue-700 { color: var(--blue-700) !important; }
.txt-blue-800 { color: var(--blue-800) !important; }
.txt-blue-900 { color: var(--blue-900) !important; }
.txt-blue-1000 { color: var(--blue-1000) !important; }

.txt-red-100 { color: var(--red-100) !important; }
.txt-red-200 { color: var(--red-200) !important; }
.txt-red-300 { color: var(--red-300) !important; }
.txt-red-400 { color: var(--red-400) !important; }
.txt-red-500 { color: var(--red-500) !important; }
.txt-red-600 { color: var(--red-600) !important; }
.txt-red-700 { color: var(--red-700) !important; }
.txt-red-800 { color: var(--red-800) !important; }
.txt-red-900 { color: var(--red-900) !important; }
.txt-red-1000 { color: var(--red-1000) !important; }

.txt-green-100 { color: var(--green-100) !important; }
.txt-green-200 { color: var(--green-200) !important; }
.txt-green-300 { color: var(--green-300) !important; }
.txt-green-400 { color: var(--green-400) !important; }
.txt-green-500 { color: var(--green-500) !important; }
.txt-green-600 { color: var(--green-600) !important; }
.txt-green-700 { color: var(--green-700) !important; }
.txt-green-800 { color: var(--green-800) !important; }
.txt-green-900 { color: var(--green-900) !important; }
.txt-green-1000 { color: var(--green-1000) !important; }

.txt-orange-100 { color: var(--orange-100) !important; }
.txt-orange-200 { color: var(--orange-200) !important; }
.txt-orange-300 { color: var(--orange-300) !important; }
.txt-orange-400 { color: var(--orange-400) !important; }
.txt-orange-500 { color: var(--orange-500) !important; }
.txt-orange-600 { color: var(--orange-600) !important; }
.txt-orange-700 { color: var(--orange-700) !important; }
.txt-orange-800 { color: var(--orange-800) !important; }
.txt-orange-900 { color: var(--orange-900) !important; }
.txt-orange-1000 { color: var(--orange-1000) !important; }

.txt-pink-100 { color: var(--pink-100) !important; }
.txt-pink-200 { color: var(--pink-200) !important; }
.txt-pink-300 { color: var(--pink-300) !important; }
.txt-pink-400 { color: var(--pink-400) !important; }
.txt-pink-500 { color: var(--pink-500) !important; }
.txt-pink-600 { color: var(--pink-600) !important; }
.txt-pink-700 { color: var(--pink-700) !important; }
.txt-pink-800 { color: var(--pink-800) !important; }
.txt-pink-900 { color: var(--pink-900) !important; }
.txt-pink-1000 { color: var(--pink-1000) !important; }

.txt-gray-100 { color: var(--gray-100) !important; }
.txt-gray-200 { color: var(--gray-200) !important; }
.txt-gray-300 { color: var(--gray-300) !important; }
.txt-gray-400 { color: var(--gray-400) !important; }
.txt-gray-500 { color: var(--gray-500) !important; }
.txt-gray-600 { color: var(--gray-600) !important; }
.txt-gray-700 { color: var(--gray-700) !important; }
.txt-gray-800 { color: var(--gray-800) !important; }
.txt-gray-900 { color: var(--gray-900) !important; }
.txt-gray-1000 { color: var(--gray-1000) !important; }

.txt-yellow-100 { color: var(--yellow-100) !important !important; }
.txt-yellow-200 { color: var(--yellow-200) !important !important; }
.txt-yellow-300 { color: var(--yellow-300) !important !important; }
.txt-yellow-400 { color: var(--yellow-400) !important !important; }
.txt-yellow-500 { color: var(--yellow-500) !important !important; }
.txt-yellow-600 { color: var(--yellow-600) !important !important; }
.txt-yellow-700 { color: var(--yellow-700) !important !important; }
.txt-yellow-800 { color: var(--yellow-800) !important !important; }
.txt-yellow-900 { color: var(--yellow-900) !important !important; }
.txt-yellow-1000 { color: var(--yellow-1000) !important !important; }

.txt-purple-100 { color: var(--purple-100) !important !important; }
.txt-purple-200 { color: var(--purple-200) !important !important; }
.txt-purple-300 { color: var(--purple-300) !important !important; }
.txt-purple-400 { color: var(--purple-400) !important !important; }
.txt-purple-500 { color: var(--purple-500) !important !important; }
.txt-purple-600 { color: var(--purple-600) !important !important; }
.txt-purple-700 { color: var(--purple-700) !important !important; }
.txt-purple-800 { color: var(--purple-800) !important !important; }
.txt-purple-900 { color: var(--purple-900) !important !important; }
.txt-purple-1000 { color: var(--purple-1000) !important !important; }

.txt-brown-100 { color: var(--brown-100) !important; }
.txt-brown-200 { color: var(--brown-200) !important; }
.txt-brown-300 { color: var(--brown-300) !important; }
.txt-brown-400 { color: var(--brown-400) !important; }
.txt-brown-500 { color: var(--brown-500) !important; }
.txt-brown-600 { color: var(--brown-600) !important; }
.txt-brown-700 { color: var(--brown-700) !important; }
.txt-brown-800 { color: var(--brown-800) !important; }
.txt-brown-900 { color: var(--brown-900) !important; }
.txt-brown-1000 { color: var(--brown-1000) !important; }

.txt-orange { color: var(--orange-color) !important; }
.txt-blue-light { color: var(--blue-light-color) !important; }
.txt-brown { color: var(--brown-color) !important; }
.txt-yellow { color: var(--yellow-color) !important; }
.txt-blue-dark { color: var(--blue-dark-color) !important; }
.txt-green-light { color: var(--green-light-color) !important; }
.txt-orange-light { color: var(--orange-light-color) !important; }
.txt-green-dark { color: var(--green-dark-color) !important; }
.txt-purple { color: var(--purple-color) !important; }
.txt-pink-dark { color: var(--pink-dark-color) !important; }

.txt-marigold { color: var(--marigold-color) !important; }
.txt-cerulean { color: var(--cerulean-color) !important; }
.txt-rust { color: var(--rust-color) !important; }
.txt-illuminating { color: var(--illuminating-color) !important; }
.txt-french-blue { color: var(--french-blue-color) !important; }
.txt-green-ash { color: var(--green-ash-color) !important; }
.txt-burnt-coral { color: var(--burnt-coral-color) !important; }
.txt-mint { color: var(--mint-color) !important; }
.txt-amethyst-orchid { color: var(--amethyst-orchid-color) !important; }
.txt-raspberry-sorbet { color: var(--raspberry-sorbet-color) !important; }

.txt-flame-scarlet { color: var(--flame-scarlet-color) !important; }
.txt-saffron { color: var(--saffron-color) !important; }
.txt-biscay-green { color: var(--biscay-green-color) !important; }
.txt-chive { color: var(--chive-color) !important; }
.txt-faded-denim { color: var(--faded-denim-color) !important; }
.txt-orange-peel { color: var(--orange-peel-color) !important; }
.txt-mosaic-blue { color: var(--mosaic-blue-color) !important; }
.txt-sunlight { color: var(--sunlight-color) !important; }
.txt-coral-pink { color: var(--coral-pink-color) !important; }
.txt-cinnamon-stick { color: var(--cinnamon-stick-color) !important; }
.txt-grape-compote { color: var(--grape-compote-color) !important; }
.txt-lark { color: var(--lark-color) !important; }
.txt-navy-blazer { color: var(--navy-blazer-color) !important; }
.txt-brilliant-white { color: var(--brilliant-white-color) !important; }
.txt-ash { color: var(--ash-color) !important; }

.txt-fiesta { color: var(--fiesta-color) !important; }
.txt-jester-red { color: var(--jester-red-color) !important; }
.txt-turmeric { color: var(--turmeric-color) !important; }
.txt-living-coral { color: var(--living-coral-color) !important; }
.txt-pink-peacock { color: var(--pink-peacock-color) !important; }
.txt-pepper-stem { color: var(--pepper-stem-color) !important; }
.txt-aspen-gold { color: var(--aspen-gold-color) !important; }
.txt-princess-blue { color: var(--princess-blue-color) !important; }
.txt-toffee { color: var(--toffee-color) !important; }
.txt-mango-mojito { color: var(--mango-mojito-color) !important; }
.txt-terrarium-moss { color: var(--terrarium-moss-color) !important; }
.txt-sweet-lilac { color: var(--sweet-lilac-color) !important; }
.txt-soybean { color: var(--soybean-color) !important; }
.txt-eclipse { color: var(--eclipse-color) !important; }
.txt-sweet-corn { color: var(--sweet-corn-color) !important; }

.txt-overconsulting { color: var(--overconsulting-blue-color) !important; }

.txt-bold {font-weight: bold;}
.txt-italic {font-style: italic;}
.txt-right {text-align: right;}
.txt-left {text-align: left;}
.txt-center {text-align: center;}
.txt-justify {text-align: justify;}
.txt-no-underline {text-decoration: none;}
.txt-no-wrap {white-space:nowrap;}

.txt-size-8 {font-size: 8px;}
.txt-size-9 {font-size: 9px;}
.txt-size-10 {font-size: 10px;}
.txt-size-11 {font-size: 11px;}
.txt-size-12 {font-size: 12px;}
.txt-size-13 {font-size: 13px;}
.txt-size-14 {font-size: 14px;}
.txt-size-15 {font-size: 15px;}
.txt-size-16 {font-size: 16px;}
.txt-size-17 {font-size: 17px;}
.txt-size-18 {font-size: 18px;}
.txt-size-19 {font-size: 19px;}
.txt-size-20 {font-size: 20px;}
.txt-size-21 {font-size: 21px;}
.txt-size-22 {font-size: 22px;}
.txt-size-23 {font-size: 23px;}
.txt-size-24 {font-size: 24px;}
.txt-size-25 {font-size: 25px;}
.txt-size-26 {font-size: 26px;}
.txt-size-27 {font-size: 27px;}
.txt-size-28 {font-size: 28px;}
.txt-size-29 {font-size: 29px;}
.txt-size-30 {font-size: 30px;}
.txt-size-35 {font-size: 60px;}
.txt-size-40 {font-size: 40px;}
.txt-size-45 {font-size: 60px;}
.txt-size-50 {font-size: 50px;}
.txt-size-55 {font-size: 60px;}
.txt-size-60 {font-size: 60px;}
.txt-size-65 {font-size: 60px;}
.txt-size-70 {font-size: 60px;}
.txt-size-75 {font-size: 60px;}
.txt-size-80 {font-size: 60px;}
.txt-size-85 {font-size: 60px;}
.txt-size-90 {font-size: 60px;}
.txt-size-95 {font-size: 60px;}
.txt-size-100 {font-size: 60px;}

.txt-bold { font-weight: bold; }
.txt-bold-100 { font-weight: 100; }
.txt-bold-200 { font-weight: 200; }
.txt-bold-300 { font-weight: 300; }
.txt-bold-400 { font-weight: 400; }
.txt-bold-500 { font-weight: 500; }
.txt-bold-600 { font-weight: 600; }
.txt-bold-700 { font-weight: 700; }
.txt-bold-800 { font-weight: 800; }
.txt-bold-900 { font-weight: 900; }

.txt-italic { font-style: italic; }
.txt-oblique { font-style: oblique; }

.txt-uppercase { text-transform: uppercase; }
.txt-lowercase { text-transform: lowercase; }
.txt-capitalize { text-transform: capitalize; }

.txt-underline { text-decoration: underline; }
.txt-dashed { text-decoration: dashed; }
.txt-dotted { text-decoration: dotted; }
.txt-double { text-decoration: double; }
.txt-line-through { text-decoration: line-through; }
.txt-none { text-decoration: none; }
.txt-overline { text-decoration: overline; }
.txt-solid { text-decoration: solid; }
.txt-wavy { text-decoration: wavy; }

.txt-line-height-sm { line-height: .125rem; }
.txt-line-height { line-height: 1rem; }
.txt-line-height-l { line-height: 1.5rem; }
.txt-line-height-xl { line-height: 2rem; }