/* Variables */
:root {
    /* Gradient of color */
    --blue-100: #e6ecff;
    --blue-200: #ccdaff;
    --blue-300: #99b4ff;
    --blue-400: #668fff;
    --blue-500: #3369ff;
    --blue-600: #1a57ff;
    --blue-700: #003de6;
    --blue-800: #0030b3;
    --blue-900: #002280;
    --blue-1000: #00144d;

    --red-100: #ffe6e6;
    --red-200: #ffcccc;
    --red-300: #ff9999;
    --red-400: #ff6666;
    --red-500: #ff3333;
    --red-600: #ff1a1a;
    --red-700: #e60000;
    --red-800: #b30000;
    --red-900: #800000;
    --red-1000: #4d0000;

    --green-100: #e6ffe6;
    --green-200: #ccffcc;
    --green-300: #99ff99;
    --green-400: #66ff66;
    --green-500: #33ff33;
    --green-600: #1aff1a;
    --green-700: #00e600;
    --green-800: #00b300;
    --green-900: #008000;
    --green-1000: #004d00;

    --orange-100: #fff0e6;
    --orange-200: #ffe0cc;
    --orange-300: #ffc299;
    --orange-400: #ffa366;
    --orange-500: #ff8533;
    --orange-600: #ff751a;
    --orange-700: #e65c00;
    --orange-800: #b34700;
    --orange-900: #803300;
    --orange-1000: #4d1f00;

    --pink-100: #ffe6f2;
    --pink-200: #ffcce6;
    --pink-300: #ff99cc;
    --pink-400: #ff66b3;
    --pink-500: #ff3399;
    --pink-600: #ff1a8c;
    --pink-700: #e60073;
    --pink-800: #b30059;
    --pink-900: #800040;
    --pink-1000: #4d0026;

    --gray-100: #f0f0f5;
    --gray-200: #e0e0eb;
    --gray-300: #c2c2d6;
    --gray-400: #a3a3c2;
    --gray-500: #8585ad;
    --gray-600: #7575a3;
    --gray-700: #5c5c8a;
    --gray-800: #47476b;
    --gray-900: #33334d;
    --gray-1000: #1f1f2e;

    --yellow-100: #fffae6;
    --yellow-200: #fff5cc;
    --yellow-300: #ffeb99;
    --yellow-400: #ffe066;
    --yellow-500: #ffd633;
    --yellow-600: #ffd11a;
    --yellow-700: #e6b800;
    --yellow-800: #b38f00;
    --yellow-900: #806600;
    --yellow-1000: #4d3d00;

    --purple-100: #f2e6ff;
    --purple-200: #e6ccff;
    --purple-300: #cc99ff;
    --purple-400: #b366ff;
    --purple-500: #9933ff;
    --purple-600: #8c1aff;
    --purple-700: #7300e6;
    --purple-800: #5900b3;
    --purple-900: #400080;
    --purple-1000: #26004d;

    --white-100: #f2f2f2;
    --white-200: #e6e6e6;
    --white-300: #cccccc;
    --white-400: #b3b3b3;
    --white-500: #999999;
    --white-600: #8c8c8c;
    --white-700: #737373;
    --white-800: #595959;
    --white-900: #404040;
    --white-1000: #262626;

    --brown-100: #fff2e6;
    --brown-200: #ffe6cc;
    --brown-300: #ffcc99;
    --brown-400: #ffb366;
    --brown-500: #ff9933;
    --brown-600: #ff8c1a;
    --brown-700: #e67300;
    --brown-800: #b35900;
    --brown-900: #804000;
    --brown-1000: #4d2600;
  
    /* Color for button */
    --white-color: #FFF;
    --light-color: #d8d8d8;
    --black-color: #000;
    --dark-color: #2b2b2b;
    --error-color: #b4372e;
    --warning-color: #EF6800;
    --success-color: #30853b;
    --notice-color: #4b88fa;
    --debug-color: #8f40e9;

    --light-hover-color: #d4d4d4;
    --dark-hover-color: #000;
    --error-hover-color: #9D261D;
    --warning-hover-color: #ff6f00;
    --success-hover-color: #20742b;
    --notice-hover-color: #1768ff;
    --debug-hover-color: #730de7;

    --light-disabled-color: #dddddd;
    --dark-disabled-color: rgb(90, 90, 90);
    --error-disabled-color: #da7770;
    --warning-disabled-color: #f5a76b;
    --success-disabled-color: #67956d;
    --notice-disabled-color: #6d97e6;
    --debug-disabled-color: #8e5dc5;

    /* Mode part */
    --marigold-color: #FDAC53;
    --cerulean-color: #9BB7D4;
    --rust-color: #B55A30;
    --illuminating-color: #F5DF4D;
    --french-blue-color: #0072B5;
    --green-ash-color: #A0DAA9;
    --burnt-coral-color: #E9897E;
    --mint-color: #00A170;
    --amethyst-orchid-color: #926AA6;
    --raspberry-sorbet-color: #D2386C;

    --orange-color: var(--marigold-color);
    --blue-light-color: var(--cerulean-color);
    --brown-color: var(--rust-color);
    --yellow-color: var(--illuminating-color);
    --blue-dark-color: var(--french-blue-color);
    --green-light-color: var(--green-ash-color);
    --orange-light-color: var(--burnt-coral-color);
    --green-dark-color: var(--mint-color);
    --purple-color: var(--amethyst-orchid-color);
    --pink-dark-color: var(--raspberry-sorbet-color);

    --flame-scarlet-color: #CD212A;
    --saffron-color: #FFA500;
    --biscay-green-color: #56C6A9;
    --chive-color: #4B5335;
    --faded-denim-color: #798EA4;
    --orange-peel-color: #FA7A35;
    --mosaic-blue-color: #00758F;
    --sunlight-color: #EDD59E;
    --coral-pink-color: #E8A798;
    --cinnamon-stick-color: #9C4722;
    --grape-compote-color: #6B5876;
    --lark-color: #B89B72;
    --navy-blazer-color: #282D3C;
    --brilliant-white-color: #EDF1FF;
    --ash-color: #A09998;

    --fiesta-color: #DD4132;
    --jester-red-color: #9E1030;
    --turmeric-color: #FE840E;
    --living-coral-color: #FF6F61;
    --pink-peacock-color: #C62168;
    --pepper-stem-color: #8D9440;
    --aspen-gold-color: #FFD662;
    --princess-blue-color: #00539C;
    --toffee-color: #755139;
    --mango-mojito-color: #D69C2F;
    --terrarium-moss-color: #616247;
    --sweet-lilac-color: #E8B5CE;
    --soybean-color: #D2C29D;
    --eclipse-color: #343148;
    --sweet-corn-color: #F0EAD6;

    --overconsulting-blue-color: #4bd0d5;
    --overconsulting-blue-dark-color:#43b9bd;
}