body {
    overflow-x: hidden;
    background-color: beige;
}

/* Carousel */
.carousel-root {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.carousel-container {
    transition: transform 0.3s;
    transform: translate3d(0,0,0);
}

.carousel-container::after {
    content: '';
    clear: both;
    display: table;
}

.carousel-item {
    float: left;
    padding: 20px 10px;
}

/* Navigation */
.carousel-next, .carousel-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(next.png) center center no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: 10px;
    /* box-shadow: 0 15px 35px #3232321a,0 5px #0000001a; */
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.carousel-prev {
    right: auto;
    left: 10px;
    background-image: url(prev.png);
}

.carousel-next:hover, .carousel-prev:hover {
    transform: scale(1.2);
}

.carousel-next--hidden, .carousel-prev--hidden {
    opacity: 0;
    cursor: default;
}

/* Pagination */
.carousel-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.carousel-pagination-btn {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
    box-shadow: 0 2px 5px #3232321a;
    transition: transform 0.3s;
    cursor: pointer;
}

.carousel-pagination-btn--active, .carousel-pagination-btn:hover {
    transform: scale(1.4);
}

/* Accordions */

.accordion-label {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.accordion.active .accordion-label {
    border-radius: 5px 5px 0px 0px;
}

.accordion-label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion.active .accordion-label::before {
    content: '-';
}

.accordion-content {
    position: relative;
    text-align: justify;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.accordion.active .accordion-content {
    height: auto;
    padding: 20px 10px;
}

/* Toggle */

.toggle-target {
    display: none;
}

.toggle-target.active {
    display: block;
}

/* Pop-up */

.pop-up-content {
    background-color: white;
    padding: 30px;
    text-align: justify;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    z-index: 100;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.pop-up-container.active .pop-up-content {
    transform: translate(-50%, -50%) scale(1);
}

.pop-up-overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.pop-up-container.active .pop-up-overlay {
    opacity: 1;
    pointer-events: all;
}

.pop-up-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
}

/* Scroll */
.scroll {
    opacity: 0;
}