.bg-bleu-100 { background-color: var(--bleu-100); }
.bg-bleu-200 { background-color: var(--bleu-200); }
.bg-bleu-300 { background-color: var(--bleu-300); }
.bg-bleu-400 { background-color: var(--bleu-400); }
.bg-bleu-500 { background-color: var(--bleu-500); }
.bg-bleu-600 { background-color: var(--bleu-600); }
.bg-bleu-700 { background-color: var(--bleu-700); }
.bg-bleu-800 { background-color: var(--bleu-800); }
.bg-bleu-900 { background-color: var(--bleu-900); }
.bg-bleu-1000 { background-color: var(--bleu-1000); }

.bg-red-100 { background-color: var(--red-100); }
.bg-red-200 { background-color: var(--red-200); }
.bg-red-300 { background-color: var(--red-300); }
.bg-red-400 { background-color: var(--red-400); }
.bg-red-500 { background-color: var(--red-500); }
.bg-red-600 { background-color: var(--red-600); }
.bg-red-700 { background-color: var(--red-700); }
.bg-red-800 { background-color: var(--red-800); }
.bg-red-900 { background-color: var(--red-900); }
.bg-red-1000 { background-color: var(--red-1000); }

.bg-green-100 { background-color: var(--green-100); }
.bg-green-200 { background-color: var(--green-200); }
.bg-green-300 { background-color: var(--green-300); }
.bg-green-400 { background-color: var(--green-400); }
.bg-green-500 { background-color: var(--green-500); }
.bg-green-600 { background-color: var(--green-600); }
.bg-green-700 { background-color: var(--green-700); }
.bg-green-800 { background-color: var(--green-800); }
.bg-green-900 { background-color: var(--green-900); }
.bg-green-1000 { background-color: var(--green-1000); }

.bg-orange-100 { background-color: var(--orange-100); }
.bg-orange-200 { background-color: var(--orange-200); }
.bg-orange-300 { background-color: var(--orange-300); }
.bg-orange-400 { background-color: var(--orange-400); }
.bg-orange-500 { background-color: var(--orange-500); }
.bg-orange-600 { background-color: var(--orange-600); }
.bg-orange-700 { background-color: var(--orange-700); }
.bg-orange-800 { background-color: var(--orange-800); }
.bg-orange-900 { background-color: var(--orange-900); }
.bg-orange-1000 { background-color: var(--orange-1000); }

.bg-pink-100 { background-color: var(--pink-100); }
.bg-pink-200 { background-color: var(--pink-200); }
.bg-pink-300 { background-color: var(--pink-300); }
.bg-pink-400 { background-color: var(--pink-400); }
.bg-pink-500 { background-color: var(--pink-500); }
.bg-pink-600 { background-color: var(--pink-600); }
.bg-pink-700 { background-color: var(--pink-700); }
.bg-pink-800 { background-color: var(--pink-800); }
.bg-pink-900 { background-color: var(--pink-900); }
.bg-pink-1000 { background-color: var(--pink-1000); }

.bg-gray-100 { background-color: var(--gray-100); }
.bg-gray-200 { background-color: var(--gray-200); }
.bg-gray-300 { background-color: var(--gray-300); }
.bg-gray-400 { background-color: var(--gray-400); }
.bg-gray-500 { background-color: var(--gray-500); }
.bg-gray-600 { background-color: var(--gray-600); }
.bg-gray-700 { background-color: var(--gray-700); }
.bg-gray-800 { background-color: var(--gray-800); }
.bg-gray-900 { background-color: var(--gray-900); }
.bg-gray-1000 { background-color: var(--gray-1000); }

.bg-yellow-100 { background-color: var(--yellow-100); }
.bg-yellow-200 { background-color: var(--yellow-200); }
.bg-yellow-300 { background-color: var(--yellow-300); }
.bg-yellow-400 { background-color: var(--yellow-400); }
.bg-yellow-500 { background-color: var(--yellow-500); }
.bg-yellow-600 { background-color: var(--yellow-600); }
.bg-yellow-700 { background-color: var(--yellow-700); }
.bg-yellow-800 { background-color: var(--yellow-800); }
.bg-yellow-900 { background-color: var(--yellow-900); }
.bg-yellow-1000 { background-color: var(--yellow-1000); }

.bg-purple-100 { background-color: var(--purple-100); }
.bg-purple-200 { background-color: var(--purple-200); }
.bg-purple-300 { background-color: var(--purple-300); }
.bg-purple-400 { background-color: var(--purple-400); }
.bg-purple-500 { background-color: var(--purple-500); }
.bg-purple-600 { background-color: var(--purple-600); }
.bg-purple-700 { background-color: var(--purple-700); }
.bg-purple-800 { background-color: var(--purple-800); }
.bg-purple-900 { background-color: var(--purple-900); }
.bg-purple-1000 { background-color: var(--purple-1000); }


.hover\:bg-purple-900:hover {
    background-color: var(--purple-900);
}