.card {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .card-image img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

.card .card-title {
    font-size: 1em;
    font-weight: bold;
    padding: 15px 25px;
}

.card .card-body {
    padding: 15px 25px;
    text-align: justify;
}

.card .card-footer {
    padding: 15px 25px;
}