.opacity-0 { opacity: 0; }
.opacity-5 { opacity: 0.05; }
.opacity-10 { opacity: 0.10; }
.opacity-15 { opacity: 0.15; }
.opacity-20 { opacity: 0.20; }
.opacity-25 { opacity: 0.25; }
.opacity-30 { opacity: 0.30; }
.opacity-35 { opacity: 0.35; }
.opacity-40 { opacity: 0.40; }
.opacity-45 { opacity: 0.45; }
.opacity-50 { opacity: 0.50; }
.opacity-55 { opacity: 0.55; }
.opacity-60 { opacity: 0.60; }
.opacity-65 { opacity: 0.65; }
.opacity-70 { opacity: 0.70; }
.opacity-75 { opacity: 0.75; }
.opacity-80 { opacity: 0.80; }
.opacity-85 { opacity: 0.85; }
.opacity-90 { opacity: 0.90; }
.opacity-95 { opacity: 0.95; }
.opacity-100 { opacity: 1; }