.cursor-pointer { cursor: pointer; }
.cursor-progress { cursor: progress; }
.cursor-copy { cursor: copy; }
.cursor-alias { cursor: alias; }
.cursor-not-allowed { cursor: not-allowed; }
.cursor-cell { cursor: cell; }
.cursor-col-resize { cursor: col-resize; }
.cursor-crosshair { cursor: crosshair; }
.cursor-context-menu { cursor: context-menu; }
.cursor-no-drop { cursor: no-drop; }
.cursor-grab { cursor: grab; }
.cursor-help { cursor: help; }
.cursor-zoom-in { cursor: zoom-in; }
.cursor-move { cursor: move; }
.cursor-none { cursor: none; }
.cursor-zoom-out { cursor: zoom-out; }
.cursor-text { cursor: text; }
.cursor-vertical-text { cursor: vertical-text; }